.App {
  display: flex;
  flex-direction: column;/* Align children to the left */
  height: 100vh; /* Full viewport height */
  background-color: #f9f9f9; /* Optional */
  box-sizing: border-box;
  justify-content: center;
  gap:24px
}

.overall-content-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1; /* Take remaining space above footer */
  gap: 16px;
}

.display-content-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}