.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children to the left */
  height: 100vh; /* Full viewport height */
  background-color: #f9f9f9; /* Optional */
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  flex-grow: 1;
}
