.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f9f9f9;
  box-sizing: border-box;
  justify-content: center;
  gap: 24px;
}

.overall-content-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.display-content-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}