
footer {
  width: 100%; /* Full width footer */
  display: flex;
  justify-content: flex-start; /* Button on the left */
  padding: 20px;
  background-color: white;
  border-top: 1px solid #ddd;
  position: fixed; /* Stick to bottom */
  bottom: 0;
  left: 0;
}

.discard-footer {
  background-color: white;
  color: black;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.discard-footer:hover {
  background-color: #9edcf8;
  color: #146aff;
}
