
footer {
  width: 100%; /* Full width footer */
  display: flex;
  justify-content: space-between; /* Button on the left */
  padding: 16px;
  background-color: white;
  border-top: 1px solid #ddd;
  position: fixed; /* Stick to bottom */
  bottom: 0;
  left: 0;
}

.discard-footer, 
.save-footer {
  background-color: white;
  color: black;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;  
  width: 80px;
    height: 40px;
}

.discard-footer:hover {
  background-color: #9edcf8;
  color: #146aff;
}


.save-footer {
background-color: #146aff;
color: white;
  margin-right: 32px;
}

.save-footer:hover {
  background-color: #0552c5;
  color: #9edcf8;
}
