.questions {
  width: 100%;
  height: 50px;
  border: 2px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  
}
