.slide-display {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  margin-bottom: 20px;
  box-sizing: border-box;
  min-height: 500px
}

.slide-container,
.slide-navigation {
  width: 100%;
  padding: 16px;
}

.slide-container {
  height: auto;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.slide-image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.slide-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.nav-button,
.help-button {
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.nav-buttons button {
  background-color: #146aff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: #0552c5;
    color: #146aff;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.nav-buttons span {
  font-size: 16px;
  font-weight: bold;
  margin: 0 12px;
}

.help-button {
  background-color: #ccc;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
}
